@-moz-document domain("ecosia.org") {
    /*Main web search page*/
    
    body {
    
        color: #6C6F93;
    
    }
    
    .results-wrapper {
    
        background-color: #16161C;
    
    }
    
    .navbar-row {
    
        background: #1C1E26;
        border-bottom: 1px solid #1C1E26;
        
    }
    
    .search-header {
    
        background-color: #1C1E26;
    
    }
    
    .result-title, .result-title:focus, .result-title:hover {
    
        color: #FDF0ED;
    
    }
    
    .result-url, .result-url:active, .result-url:focus, .result-url:hover, .result-url:visited {
    
        color: #6C6F93;
    
    }
    
    .result-snippet, .sidebar-text {
    
        color: #FADAD1;
    
    }
    
    
    .more-results-link {
    
        color: #E95379;
    
    }
    
    .section-title-pill {
    
        color: #FADAD1;
    
    }
    
    .navbar-item.navbar-item-active.navbar-item-vertical .navbar-link {
        color: #21BFC2;
    
    }
    
    .navbar-link:hover {
    
        color: #21BFC2;
    
    }
    
    .navbar-link {
        
        color: #6C6F93
        
    }
    
    .thumbnail-title {
        
        color: #FDF0ED;
    
    }
    
    .thumbnail-publisher {
    
        color: #FADAD1;
    
    }
    
    .result-publication-date {
    
        color: #6C6F93;
    
    }
    
    .thumbnail-item {
    
        background-color: #232530;
     
    }
    
    .video-duration {
    
        color: #FDF0ED;
        background-color: #232530;
    
    }
    
    .video-duration {
    
        color: #FDF0ED;
        background-color: #232530;
    
    }
    
    .thumbnail-item:hover .video-duration {
    
        background-color: #1C1E26;
    
    }
    
    .search-form-input {
    
        color: #FDF0ED;
      
    }
    
    .search-form-field {
    
        border: 0px solid #232530;
        background-color: #232530;
    
    }
    
    .search-header > .search-header-menu-group .pill:hover {
    
        border-color: #FADAD1;
        background: #FADAD1;
        color: #6C6F93;
    
    
    }
    
    .search-header > .search-header-menu-group .pill {
    
        background: #6C6F93;
        border-color: #6C6F93;
        color: #FDF0ED;
    
    }
    
    .entity-link-default-icon svg path, .search-header > .search-header-menu-group .pill.dropdown-menu-button path, .search-header > .search-header-menu-group .pill.notifications-center-toggle path {
    
        fill: #FDF0ED;
    
    }
    
    .after-results-info {
    
        color: #6C6F93;
        border-top: 1px solid #FDF0ED;
    
    }
    
    .pagination-button.active {
    
        color: #F9CBBE;
    
    }
    
    .pagination-button:hover {
    
        color: #F9CBBE;
    
    }
    
    .pagination-button {
    
        color: #6C6F93;
    
    }
    
    .widget__footer {
    
        margin: 0 -20px;
        background: #1C1E26;
    
    }
    
    .widget-static .widget-result {
    
        background: #1C1E26;
    
    }
    
    .widget__footer-item {
    
        border-top: 1px solid #FADAD1;
        color: #FADAD1;
    
    }
    
    .widget {
    
        background-color: #1C1E26;
    
    }
    
    .weather-details-units .active {
    
        color: #2E303E;
    
    }
    
    .card-mobile {
    
        padding: 10px;
        background-color: #16161C;
        border-radius: 3px;
    
    }
    
    .search-form-addon-button {
    
        background-color: #1C1E26;
    
    }
    
    .chip[data-v-b7cee7f4] {
    
        border: 1px solid #2E303E;
        background: #2E303E;
        
    }
    
    .chip__text[data-v-b7cee7f4] {
    
        color: #FDF0ED;
    
    }
    
    .chip__text mark {
    
        color: #F9CBBE;
    
    }
    
    .query-expansions__control[data-v-2eb12eca] {
    
        color: #FDF0ED;
    
    }
    
    .query-expansions__control--next[data-v-2eb12eca] {
    
        background: linear-gradient(90deg,hsla(0,0%,100%,0),#16161c 42%,#16161C 74%);
    
    }
    
    .results-page-stretcher {
    
       background-color: #16161C;
    
    }
    
    .small-footer {
    
        background-color: #16161C;
        color: #FDF0ED;
    
    }
    
    .small-footer-link {
    
        color: #6C6F93;
    
    }
    
    .small-footer-social-links svg {
    
        color: #6C6F93;
    
    }
    
    .small-footer-social-links svg:hover {
    
        color: #6C6F93;
    
    }
    
    
    
    /*Other search*/
    
    .layout[data-v-a888c852] {
    
        background-color: #16161C;
    
    }
    
    .main-header__content[data-v-131801c1] {
    
        background: #1C1E26;
           
    }
    
    .main-header--border .main-header__content[data-v-131801c1] {
    
        border-bottom: 1px solid #1C1E26;
    
    }
    
    .tab__link[data-v-34d2a1dd] {
    
        color: #6C6F93;
    
    }
    
    .tab--highlighted .tab__link[data-v-34d2a1dd] {
    
        color: #21BFC2;
    
    }
    
    .image-result__details-source[data-v-737b338e] {
    
        color: #6C6F93;
    
    }
    
    .search-form__input[data-v-30d57e72] {
    
        color: #FDF0ED;
        background-color: #232530;
    
    }
    
    .search-form[data-v-30d57e72] {
    
        background-color: #232530;
        border: 0px solid #232530;   
    
    }
    
    .pill[data-v-2ddfac41] {
    
        border: 0px solid #6C6F93;
        background-color: #6C6F93;
        color: #FDF0ED;
    
    }
    
    .pill[data-v-2ddfac41]:hover {
    
        border: 0px solid #FDF0ED;
        background-color: #FDF0ED;
        color: #6C6F93;
    
    }
    
    .icon-button[data-v-1909683a]:hover {
    
        background-color: #FDF0ED;
        border-color: #FDF0ED;
    
    }
    
    .icon-button[data-v-1909683a] {
    
        background-color: #6C6F93;
        border-color: #6C6F93;
    
    }
    
    .notification-pill:hover path[data-v-21ad0d9c] {
    
        fill: #6C6F93;
    
    }
    
    .notification-pill__icon {
    
        color: #FDF0ED;
    
    }
    
    .icon-button:hover .icon-button__icon-hamburger path {
    
        fill: #6C6F93;
    
    }
    
    .icon-button--variant-outline-dark[data-v-07682736] {
    
        color: #FDF0ED;
    
    }
    
    .pill:hover .personal-counter__text[data-v-2ddfac41] {
    
        color: #6C6F93;
    
    }
    
    .personal-counter__text[data-v-0e3e84ab] {
    
        color: #FDF0ED;
    
    }
    
    .results-info[data-v-275285ee] {
    
        border-top: 1px solid #FDF0ED;
        color: #6C6F93;
    
    }
    
    .link--color-secondary[data-v-e2270c2c] {
    
        color: #6C6F93;
    
    }
    
    .pagination__page--current[data-v-50fddf66] {
    
      
        color: #F9CBBE;
    
    }
    
    .link--color-bare[data-v-e2270c2c] {
    
        color: #6C6F93;
    
    }
    
    .link--color-bare[data-v-e2270c2c]:hover {
    
        color: #F9CBBE;
    
    }
    
    .icon-button--variant-bare[data-v-07682736]:hover {
    
        color: #2E303E;
    
    }
    
    .icon-button--variant-bare[data-v-07682736] {
    
        color: #6C6F93;
    
    }
    
    .main-header__navigation[data-v-c127acf0] {
    
        background-color: #1C1E26;
    
    }
    
    .main-header__search-navigation[data-v-c127acf0] {
    
        background-color: #1C1E26;
            
    }
    
    .main-header--border .main-header__content[data-v-c127acf0] {
    
        border-bottom: 1px solid #1C1E26;
        background-color: #1C1E26;
    
    }
    
    .search-form[data-v-7087acaf] {
    
        background-color: #232530;
        border: 1px solid #232530;
    
    }
    
    .search-form--variant-compact .search-form__input[data-v-7087acaf] {
    
        background-color: #232530;
        
    }
    
    .search-form__input[data-v-7087acaf] {
    
        color: #FDF0ED;
    
    }
    
    .main-footer[data-v-33a9cd1c] {
    
        background-color: #16161C;
    
    }
    
    .main-footer__link[data-v-33a9cd1c] {
    
        color: #6C6F93;
    
    }
    
    
    .main-footer__link[data-v-33a9cd1c]:focus, .main-footer__link[data-v-33a9cd1c]:hover {
    
        color: #6C6F93;
    
    }
    
    
    
    /*News search*/
    
    .link--color-result[data-v-e2270c2c] {
    
        color: #FDF0ED;
    
    }
    
    .result__source[data-v-6563085a] {
    
        color: #6C6F93;
        display: block;
    
    }
    
    .news-result__date[data-v-c1edfd48] {
    
        color: #6C6F93;
    
    }
    
    .news-result__description[data-v-c1edfd48] {
    
        color: #FADAD1;
    
    }
    
    
    
    
    /*Video search*/
    
    .video-result__date[data-v-6ae924aa] {
    
        color: #6C6F93;
    
    }
    
    .video-result__description[data-v-6ae924aa] {
    
        color: #FADAD1;
    
    }
    
    .result-thumbnail__duration[data-v-067349f4] {
    
        background-color: #232530;
        color: #FDF0ED;
    
    }
    
    .result-thumbnail:hover .result-thumbnail__duration[data-v-067349f4] {
    
        background-color: #1C1E26;
        color: #FDF0ED;
    
    }
    }